.guidelines
  display: grid
  grid-gap: $margin
  grid-template-columns: repeat(1, minmax(0, 1fr))
  @include desktop
    grid-template-columns: repeat(4, minmax(0, 1fr))
  &__guideline
    position: relative
    background: $color
    padding: $margin
    min-height: 120px
    overflow: hidden
    @include stretched-link
    &__title
      margin-top: 0
      font-size: 1.1rem
      a
        color: black
    &__number
      background: $color
      position: absolute
      color: black
      right: 0
      bottom: 0
      font-size: 0.8rem
      line-height: 0.8rem
      padding: 5px

.guideline__number
  background: $color
  color: black
  display: inline-block
  padding: 5px 10px
  position: absolute
  top: 0
  right: 2*$margin
