---
title: Recommandations pour une communication plus responsable
permalink: /
---

<h2>Recommandations</h2>
<ul>
{% for guideline in site.guidelines %}
  <li><a href="{{ guideline.url }}">{{ guideline.title }}</a></li>
{% endfor %}
</ul>

<h2>Thèmes</h2>
<ul>
{% for theme in site.themes %}
  <li><a href="{{ theme.url }}">{{ theme.title }}</a></li>
{% endfor %}
</ul>

<h2>Canaux</h2>
<ul>
{% for channel in site.channels %}
  <li><a href="{{ channel.url }}">{{ channel.title }}</a></li>
{% endfor %}
</ul>
