---
layout: default
---

<p class="guideline__number">
  {{ page.number }}
</p>

{{ page.text | markdownify }}

<h2>Sources</h2>

{{ page.sources | markdownify }}

{% unless page.consensus %}
  <h2>Dissensus</h2>
  <p>Cette recommandation fait l'objet d'un débat.</p>
  <h3>Arguments pour</h3>
  {{ page.pro | markdownify }}
  <h3>Arguments contre</h3>
  {{ page.con | markdownify }}
{% endunless %}

<h2>Thèmes</h2>
<ul class="themes">
{% for theme in site.themes %}
  {% if page.themes contains theme.slug %}
    <li><a href="{{ theme.url }}" class="themes__theme">{{ theme.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2>Canaux</h2>
<ul class="channels">
{% for channel in site.channels %}
  {% if page.channels contains channel.slug %}
    <li><a href="{{ channel.url }}" class="channels__channel">{{ channel.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2>Objectifs de Développement Durable</h2>
<ul class="goals">
{% for goal in site.goals %}
  {% if page.goals contains goal.slug %}
    <li>{% include goal.html goal=goal %}</li>
  {% endif %}
{% endfor %}
</ul>
