---
layout: default
---

{{ page.number }}

{{ page.text | markdownify }}

<h2>Thèmes</h2>
<ul class="themes">
{% for theme in site.themes %}
  {% if page.themes contains theme.slug %}
    <li><a href="{{ theme.url }}" class="themes__theme">{{ theme.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2>Canaux</h2>
<ul class="channels">
{% for channel in site.channels %}
  {% if page.channels contains channel.slug %}
    <li><a href="{{ channel.url }}" class="channels__channel">{{ channel.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
