body
  background: black
  color: white

main
  padding: 2*$margin
  position: relative

h1, h2, h3, p, li, nav, a
  font-family: 'Poppins', sans-serif
  font-weight: 300

h1
  font-size: 1.6rem
  margin-bottom: 2*$margin
  @include desktop
    font-size: 2rem

h2
  font-size: 1rem
  text-transform: uppercase
  letter-spacing: 2px
  margin-top: 4*$margin
  margin-bottom: 2*$margin

h3
  font-size: 1rem
  line-height: 160%
  font-weight: bold
  margin-top: $margin

p
  line-height: 160%
  max-width: 1024px

ul
  li
    line-height: 160%

a
  transition: text-decoration 0.5s
  text-decoration-thickness: 1px
  text-decoration-color: adjust-color($color, $alpha: -0.7)
  text-underline-offset: 3px
  color: $color
  &:hover
    text-decoration-color: $color
  &[target="_blank"]
    &::after
      content: ""
      width: 0.8rem
      height: 0.8rem
      margin: 0 0.05rem 0 0.1rem
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat
      background-size: contain
      display: inline-block
      vertical-align: -0.1rem
      filter: invert(1)
